alembic
audioop-lts
audioread
certifi
cffi
charset-normalizer
click
colorama
colorlog
decorator
docopt
filelock
fsspec
greenlet
gunicorn
idna
Jinja2
joblib
lazy_loader
librosa
llvmlite
Mako
markdown-it-py
MarkupSafe
mdurl
mpmath
msgpack
networkx
numba
numpy
optuna
packaging
pandas
pillow
platformdirs
pooch
pyannote.core
pyannote.database
pyannote.pipeline
pycparser
pydub
Pygments
python-dateutil
pytz
PyYAML
requests
rich
scikit-learn
scipy
setuptools
shellingham
six
sortedcontainers
soundfile
soxr
SpeechRecognition
SQLAlchemy
standard-aifc
standard-chunk
sympy
threadpoolctl
torch
torchaudio
torchvision
tqdm
typer
typing_extensions
tzdata
urllib3
wheel
